*.log
*.iml

.cache/
.circleci/
.git/
.idea/
.reg/
.storybook/
__screenshots__/
coverage/
node_modules/
src/
storybook-static/

.dockerignore
.gitignore
.npmignore
Dockerfile
regconfig.json
tsconfig.json
webpack.config.js
yarn.lock

